# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore logs
logs/

# Ignore system files
.DS_Store
Thumbs.db

device.json
cashe_buffer.json
AmazonRootCA1.pem
shared-certificate.pem.crt
shared-private.pem.key
shared-public.pem.key
auto-provision.py
aws_config.json